/*全体*/
body {
    background-color: #ebebeb;
    overflow-x: hidden;
    text-align: center;
    padding: 0;
    margin: 0;
}
ul {
  list-style: none;
}

/*ヘッダー*/
header {
    height: 50px;
    background-color: lightblue;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
header > nav > div {
    float: left;
    width: 25%;
    height: 100%;
    position: relative;
}
header > nav > div > a {
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 50px;
    color: #fbfbfb;
    font-size: 20px;
    transition: background-color 0.2s ease;
}
header > nav > div:hover > a {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
}
header > nav > div > div {
    display: none;
    overflow: hidden;
    background-color: white;
    min-width: 100%;
    position: absolute;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 10px;
}
header > nav > div:hover > div {
    display: block;
}
header > nav > div > div > a {
    display: block;
    padding: 15px;
    width: 83%;
    font-size: 17px;
    margin: 11%;
    text-align: center;
    background-color: lightblue;
    color: #fbfbfb;
    border-radius: 7px;
    transition: background-color 0.3s ease;
}
header > nav > div > div > a:hover {
    background-color: #87cefa;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width:600px){
    header > nav > div > a{
        font-size: 11px;
    }
}

/*メイン*/
.container{
    margin:0 10% 2% 10%;
    padding:10px;
}
.container h1{
    border-bottom:solid 1px #e5e5e5;
    font-size: 40px;
}

table{
    margin-top: 30px;
    margin-left: 30px;
    width: 85%;
}
table th{
    border:solid 1px #e5e5e5;
    padding-right: 30px;
    background-color: #e5e5e5;
    padding:10px 0px 10px 0px;
    width: 30%;
    text-align: center;
}
table td{
    border:solid 1px #e5e5e5;
    padding-right: 30px;
    padding:10px 0px 10px 0px;
    width: 55%;
    text-align: center;
}